@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #ffffff; /* Set the background color to white */
  background-image: none; /* Remove any background image or gradient */
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; /* Ensure this matches your font settings */
}

p, span, div, li, a {
  color: #000000; /* Ensure all text elements have a visible color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}